# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Logs
logs/
*.log

# Database
*.db
*.sqlite
*.sqlite3

# Cache
.cache/
cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test
.pytest_cache/
